* {
  margin: 0;
}
.boxes {
  width: 150px;
  height: 90px;
  border: 1px solid black;
  text-align: center;
  font-size: 70px;
  color: rgb(230, 200, 200, 0.5);
}
.container {
  width: 100%;
  display: grid;
  grid-template-columns: 15% 15% 11%;
  grid-template-rows: 25% 25% 20;
  justify-content: center;

  gap: 10px;
  margin: 0 auto;
}

h1 {
  font-family: "MedievalSharp", cursive;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;

  color: rgb(230, 200, 200, 0.5);
}
.background {
  background-image: url(./god-of-war-ps4-2018.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.player-turn {
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: px;
  color: rgb(230, 200, 200, 0.5);
  font-family: "Times New Roman", Times, serif;
}
.reset {
  width: 953px;
  height: 45px;
  background-color: rgba(245, 56, 56, 0.7);
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
  letter-spacing: 10px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 20px;
}
.winner-kratos {
  display: flex;
  justify-content: space-around;
  font-size: 70px;
  padding: 15px;
  margin-top: 100px;
  font-family: "Times New Roman", Times, serif;
}
.vs {
  display: flex;
  justify-content: center;
  font-size: 80px;
  font-family: "Times New Roman", Times, serif;
}
.vs-1 {
  letter-spacing: 10px;
  margin-left: 15px;
  color: rgba(255, 64, 64, 0.8);
}
.win-left {
  font-size: 50px;
  color: rgb(230, 200, 200, 0.7);
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.draw {
  font-size: 4rem;
  letter-spacing: 20px;
  color: rgb(230, 200, 200, 0.5);
  margin-top: 10px;
  font-family: "Times New Roman", Times, serif;
}
@media only screen and (max-width: 953px) {
  .container {
    width: 40%;
    display: grid;
    grid-template-rows: 3fr 3fr 3fr;
    grid-template-columns: 3fr 3fr 3fr;
  }
  .reset {
    width: 700px;
  }
  .vs {
    display: flex;
    justify-content: center;
    font-size: 50px;
  }
  .win-left {
    font-size: 40px;
    color: rgb(230, 200, 200, 0.7);
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  .winner-kratos {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    padding: 15px;
    margin-top: 100px;
    align-items: center;
  }
  .player-turn {
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: px;
    color: rgb(230, 200, 200, 0.5);
  }
  .draw {
    font-size: 3rem;
    letter-spacing: 15px;
    color: rgb(230, 200, 200, 0.5);
    margin-top: 10px;
  }
}
@media only screen and (max-width: 710px) {
  .reset {
    width: 480px;
  }
}
@media only screen and (max-width: 480px) {
  .background {
    background-image: url(./god-of-war-ps4-2018.jpeg);
    /* background-size: 750px; */
    background-repeat: repeat-y;
    height: 100v;
  }
  .container {
    width: 30%;
    display: grid;
  }
  .reset {
    width: 330px;
  }
  .boxes {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    text-align: center;
    font-size: 70px;
    color: rgb(230, 200, 200, 0.5);
  }
  .winner-kratos {
    display: flex;
    justify-content: space-around;
    font-size: 35px;
    padding: 15px;
    margin-top: 100px;
    align-items: center;
  }
  .vs {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .player-turn {
    font-size: 35px;
  }
  .win-left {
    font-size: 30px;
  }
}
@media only screen and (max-width: 340px) {
  main {
    background-image: url(./god-of-war-ps4-2018.jpeg);
  }

  .winner-kratos {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    padding: 15px;
    margin-top: 20px;
    align-items: center;
  }
  .reset {
    letter-spacing: 0px;
  }
  .player-turn {
    font-size: 25px;
    padding-bottom: 20px;
  }
  .reset {
    width: 250px;
  }
}
